<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html class="downloadContent">
<head>

	<title>{{ cover_letter.fullName }}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="/css/resume.css" media="all" />
	<link rel="stylesheet" type="text/css" href="/css/cover-letter.css" media="all" />

</head>
<body class="downloadBody">

<div id="doc2" class="yui-t7">
	<div id="inner" class="downloadContent">
	
		<div id="hd" class="letter-head">
			<div class="top">
				<h1>{{ cover_letter.fullName }}</h1>
			</div>
			<div class="bottom">
				<span>{{ cover_letter.phoneNo }}</span>
				<span>{{ cover_letter.email }}</span>
				<span>{{ cover_letter.linkedIn }}</span>
			</div>
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main" class="content">
				<div class="date">
					{{ today }}
				</div>

				<div class="company">
					<li>{{ cover_letter.managerName }}</li>
					<li>{{ cover_letter.companyAddress }}</li>
					<li>{{ cover_letter.companyPhone }}</li>
					<li>{{ cover_letter.companyEmail }}</li>
				</div>

				<div class="salutation">					
					<li>{{ cover_letter.salutation }}</li>
				</div>

				<div class="paragraph p1">					
					<p>{{ cover_letter.firstParagraph }}</p>
				</div>

				<div class="paragraph p2">					
					<p>{{ cover_letter.secondParagraph }}</p>
				</div>

				<div class="paragraph p3">					
					<p>{{ cover_letter.thirdParagraph }}</p>
				</div>

				<div class="paragraph p4">					
					<p>{{ cover_letter.finalParagraph }}</p>
				</div>

				<div class="conclusion">
					<li>Sincerely,</li>
					<li class="name">{{ cover_letter.fullName }}</li>
				</div>
			</div><!--// yui-main -->
		</div><!--// bd -->


	</div>

	{{!-- <form class="download-btn" action="/resume/build" method="POST">
		<button class="sarah-a">Download as PDF</button>
	</form> --}}


</div><!--// doc -->


</body>
</html>

